.commentlist {
    /* position: fixed; */
    /* background: white; */
    width: 100%;
    /* max-width: 600px; */
    height: 85vh;
    /* bottom: 0px; */
    /* z-index: 150; */
}yarn

.commentlist-header {
    display: flex;
    flex-direction: row;
}

.commentlist-counter {
    margin-left: auto;
    margin-right: auto;
}

.commentlist-close {
    position: absolute;
    right: 15px;
}

.commentlist-list {
    margin-bottom: 56px;
    z-index: 150;
}

.commentlist-writer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* max-width: 600px; */
    height: 55px;
    background: white;
    border-style: solid;
    border-color: #CCC;
    border-width: 1px 0 0 0;
    z-index: 151;
}

.commentlist-writer-content {
    width: 85%;
}

.commentlist-writer-button {
    position: absolute;
    display: flex;
    right: 0;
    width: 50px;
    height: 100%;
}

.commentlist-writer-pic {
    width: 30px;
    height: 30px;
    margin: auto;
}