#userinfo {

}

#userinfo-navbar {
    /* position: fixed; */
    top: 0;
    width: 100vw;
    max-width: 600px;
    background: transparent;
}

#userinfo-head-icons {
    display: flex;
    /* position: absolute; */
    /*top: 50px;*/
    /* margin-top: 50px; */
    margin-bottom: 20px;
    padding-left: 15px;
}

#userinfo-content {
    /* position: absolute; */
    /*top: 320px;*/
    width: 100%;
}
