.login-page {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.login-container {
    margin-top: auto;
    margin-bottom: auto;
}

.login-form-button {
    width: 100%;
}