.main {
    width: 100%;
    height: 100%;
}

.am-tabs-tab-bar-wrap {
    position: absolute;
    bottom: 0px;
    width: 100%;
    
}

.require-login-modal {
    height: 60vh;
}

.redirect-to-login {
    width: 100%;
    position: fixed;
    bottom: 0px;
}