.write {
    position: fixed;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    /* display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch; */
}

.write-navbar {
    position: absolute;
    width: 100%;
    background: transparent;
}

.write-content-preview {
    position: absolute;
    top: 45px;
    display: flex;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.write-content {
    width: 70%;
    background: transparent;
    padding: 10px;
}

.am-textarea-control textarea {
    color: white;
}

.write-preview {
    width: 30%;
    background: gray;
    padding: 10px;
}

.write-options {

}

.write-buttons {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.write-button {
    width: 50%;
}