.commentlist {
    /* position: fixed; */
    /* background: white; */
    width: 100%;
    /* max-width: 600px; */
    height: 85vh;
    /* bottom: 0px; */
    /* z-index: 150; */
}

.commentlist-header {
    display: flex;
    flex-direction: row;
}

.commentlist-counter {
    margin-left: auto;
    margin-right: auto;
}

.commentlist-close {
    position: absolute;
    right: 15px;
}

.comment-writer {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* max-width: 600px; */
    height: 55px;
    border-style: solid;
    border-color: #CCC;
    border-width: 1px 0 0 0;
    z-index: 151;
}

.comment-writer-input {
    width: 85%;
}

.comment-writer-button {
    position: absolute;
    display: flex;
    right: 0px;
    width: 110px;
    height: 100%;
}