.post-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 5;
    bottom: 16%;
    left : 5%;
    width: 45%;    
}

.writer {
    background: transparent;
    color: white;
}

.content {
    background: transparent;
    color: white;
    padding-left: 0px !important;
    font-size: 9px;
}