.footer-wrapper {
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 0px;

    width: 100%;
    max-width: 1080px;
    height: 50px;

    background: transparent;

    z-index: 5;

    border-style: solid;
    border-color: #CCC;
    border-width: 1px 0 0 0;
}

.footer-button {
    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 20%;
    color: #CCC;
}