#userinfo {

}

#userinfo-navbar {
    /* position: fixed; */
    top: 0;
    width: 100vw;
    max-width: 600px;
    background: transparent;
}

#userinfo-content {
    /* position: absolute; */
    /*top: 320px;*/
    width: 100%;
}
